USE [master]
GO
/****** Object:  Database [231895urmenitaDB]    Script Date: 8/2/2026 9:17:40 AM ******/
CREATE DATABASE [231895urmenitaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'231895urmenitaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\231895urmenitaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'231895urmenitaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\231895urmenitaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [231895urmenitaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [231895urmenitaDB]
GO
/****** Object:  Table [dbo].[231895urmenitaCOURSE]    Script Date: 8/2/2026 9:17:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[231895urmenitaCOURSE](
	[COURSEID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPTION] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COURSEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[231895urmenitaSTUDENT]    Script Date: 8/2/2026 9:17:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[231895urmenitaSTUDENT](
	[STUDENTID] [int] IDENTITY(1,1) NOT NULL,
	[FNAME] [varchar](50) NOT NULL,
	[LNAME] [varchar](50) NOT NULL,
	[MNAME] [varchar](50) NULL,
	[BDAY] [date] NOT NULL,
	[GENDER] [varchar](10) NOT NULL,
	[COURSEID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[STUDENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[231895urmenitaUSER]    Script Date: 8/2/2026 9:17:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[231895urmenitaUSER](
	[USERID] [int] IDENTITY(1,1) NOT NULL,
	[FNAME] [varchar](50) NOT NULL,
	[LNAME] [varchar](50) NOT NULL,
	[MNAME] [varchar](50) NULL,
	[USERNAME] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[231895urmenitaCOURSE] ON 

INSERT [dbo].[231895urmenitaCOURSE] ([COURSEID], [DESCRIPTION]) VALUES (1, N'BSIT')
INSERT [dbo].[231895urmenitaCOURSE] ([COURSEID], [DESCRIPTION]) VALUES (2, N'BSCS')
INSERT [dbo].[231895urmenitaCOURSE] ([COURSEID], [DESCRIPTION]) VALUES (3, N'BSIE')
SET IDENTITY_INSERT [dbo].[231895urmenitaCOURSE] OFF
GO
SET IDENTITY_INSERT [dbo].[231895urmenitaSTUDENT] ON 

INSERT [dbo].[231895urmenitaSTUDENT] ([STUDENTID], [FNAME], [LNAME], [MNAME], [BDAY], [GENDER], [COURSEID]) VALUES (6, N'Paul', N'alco', N'Alcovendas', CAST(N'2023-08-10' AS Date), N'Female', 6)
INSERT [dbo].[231895urmenitaSTUDENT] ([STUDENTID], [FNAME], [LNAME], [MNAME], [BDAY], [GENDER], [COURSEID]) VALUES (7, N'John', N'Kemerly', NULL, CAST(N'2024-02-23' AS Date), N'Male', 3)
INSERT [dbo].[231895urmenitaSTUDENT] ([STUDENTID], [FNAME], [LNAME], [MNAME], [BDAY], [GENDER], [COURSEID]) VALUES (8, N'Bebe', N'Finn', N'D', CAST(N'2025-12-10' AS Date), N'Female', 9)
SET IDENTITY_INSERT [dbo].[231895urmenitaSTUDENT] OFF
GO
SET IDENTITY_INSERT [dbo].[231895urmenitaUSER] ON 

INSERT [dbo].[231895urmenitaUSER] ([USERID], [FNAME], [LNAME], [MNAME], [USERNAME], [PASSWORD]) VALUES (1, N'Admin', N'User', NULL, N'admin', N'admin123')
SET IDENTITY_INSERT [dbo].[231895urmenitaUSER] OFF
GO
ALTER TABLE [dbo].[231895urmenitaSTUDENT]  WITH CHECK ADD  CONSTRAINT [FK_231895urmenitaSTUDENT_231895urmenitaSTUDENT] FOREIGN KEY([STUDENTID])
REFERENCES [dbo].[231895urmenitaSTUDENT] ([STUDENTID])
GO
ALTER TABLE [dbo].[231895urmenitaSTUDENT] CHECK CONSTRAINT [FK_231895urmenitaSTUDENT_231895urmenitaSTUDENT]
GO
ALTER TABLE [dbo].[231895urmenitaSTUDENT]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_COURSE] FOREIGN KEY([COURSEID])
REFERENCES [dbo].[231895urmenitaCOURSE] ([COURSEID])
GO
ALTER TABLE [dbo].[231895urmenitaSTUDENT] CHECK CONSTRAINT [FK_STUDENT_COURSE]
GO
USE [master]
GO
